body{
    text-align: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,128,1) 100%);}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid cornsilk;
    margin: 2.5rem;
    box-shadow:0 4px 8px black;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: rgb(247, 247, 32);
}
.red{
    background-color: rgb(247, 36, 36);
}
.green{
    background: rgb(22, 239, 22);
}
.blue{
    background-color: rgb(29, 29, 248);
}
.flash{
    background-color: white;
}
.userflash{
    background-color:green;
}